<div class="jumbotron">
  <center><h1 class="display-4"><%=@event.title%></h1>
    <p>Debut : <%=@event.start_date%><br>
      Durée : <%=@event.duration%> mn<br>
      Prix : <%=@event.price%> €<br>
      Lieu : <%=@event.location%><br>
      Crée par : <%=@event.admin.first_name%> <%=@event.admin.last_name%></p>
  </center>
  <hr class="my-4">
  <p class="lead"><%=@event.description%></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<p><%= @listes%> personnes sont inscrit a cette evenement</p>
<h3>Fin de l'evenement : <%=@event.end_date%></h3>
